.jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;

  & > div:not(:first-child) {
    width: 100%;
  }
}

.job-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 16px 0;
}

.task-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 8px;
}

.job-details {
  background-color: #729ccb;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #2ecc71;
  }
}

.job-name {
  font-size: 1.2em;
  font-weight: bold;
}

.job-id {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}
